body{
font-family:Arial;
background:#f5f6fb;
margin:0;
}

.container{
max-width:420px;
margin:auto;
padding:20px;
}

.title{
text-align:center;
margin-bottom:20px;
}

/* SEARCH */

.search{
width:100%;
padding:12px;
border-radius:20px;
border:1px solid #ddd;
margin-bottom:15px;
}

/* FILTERS */

.filters{
display:flex;
gap:10px;
overflow-x:auto;
margin-bottom:20px;
}

.filters button{
padding:8px 14px;
border:none;
border-radius:20px;
background:#eee;
}

.filters .active{
background:#5b5bf7;
color:white;
}

/* MENTOR CARD */

.mentor-card{
display:flex;
gap:15px;
background:white;
padding:15px;
border-radius:14px;
margin-bottom:15px;
box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.mentor-card img{
width:70px;
height:70px;
border-radius:12px;
object-fit:cover;
}

.mentor-info{
flex:1;
}

.mentor-top{
display:flex;
justify-content:space-between;
align-items:center;
}

.role{
color:#5b5bf7;
font-size:14px;
}

.company{
font-size:13px;
color:#777;
}

.tags{
margin-top:6px;
}

.tags span{
background:#eef2ff;
padding:4px 8px;
border-radius:10px;
font-size:11px;
margin-right:6px;
}

/* BOTTOM */

.bottom{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:10px;
}

.price{
font-weight:bold;
margin:0;
}

.time{
font-size:12px;
color:#777;
margin:0;
}

button{
background:#5b5bf7;
color:white;
border:none;
padding:8px 14px;
border-radius:10px;
cursor:pointer;
}