body{

margin:0;
font-family:Arial;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#111827,#4f46e5);

}

/* PAYMENT CARD */

.payment-container{

background:white;

padding:40px;

border-radius:12px;

width:350px;

text-align:center;

box-shadow:0 15px 35px rgba(0,0,0,0.4);

}

h2{
margin-bottom:20px;
}

.details{
color:#555;
margin:10px 0;
}

.amount{
font-size:20px;
font-weight:bold;
color:#4f46e5;
margin:20px 0;
}

button{

width:100%;

padding:12px;

background:#4f46e5;
color:white;

border:none;

border-radius:6px;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:#4338ca;

}