body{
font-family:Arial;
margin:0;
background:linear-gradient(135deg,#4f46e5,#6366f1);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.nav-controls{
  position:fixed;
  top:20px;
  left:20px;
  display:flex;
  gap:10px;
  z-index:999;
}

.nav-controls button{
  width:45px;
  height:45px;
  border:none;
  border-radius:50%;
  background:rgba(255,255,255,0.1);
  color:white;
  font-size:18px;
  cursor:pointer;
  backdrop-filter:blur(10px);
  transition:0.3s;
}

.nav-controls button:hover{
  background:#6366f1;
  transform:scale(1.1);
}

.success-page{
width:420px;
}

.success-card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
text-align:center;
}

.icon{
width:70px;
height:70px;
background:#4f46e5;
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
font-size:30px;
margin:auto;
margin-bottom:15px;
}

.subtitle{
color:#777;
margin-bottom:25px;
}

.mentor-box{
background:#f6f7fb;
padding:20px;
border-radius:15px;
text-align:left;
margin-bottom:25px;
}

.label{
color:#4f46e5;
font-size:12px;
font-weight:bold;
}

.role{
color:#777;
margin-bottom:15px;
}

.details{
display:flex;
justify-content:space-between;
margin-bottom:15px;
}

.meeting{
background:white;
padding:12px;
border-radius:10px;
font-size:13px;
}

.calendar-btn{
width:100%;
padding:14px;
border:none;
background:#4f46e5;
color:white;
border-radius:25px;
margin-bottom:10px;
cursor:pointer;
}

.dashboard-btn{
width:100%;
padding:14px;
border:none;
background:#e5e7eb;
border-radius:25px;
cursor:pointer;
}

.support{
margin-top:15px;
font-size:12px;
color:#777;
}

.support span{
color:#4f46e5;
cursor:pointer;
}